*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0);
    padding: 20px;
    /* position: fixed; */
    position: sticky;
    top: 0px;
    width: 100%;
    
    ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        gap: 4rem;
        margin-left: -500px;
        align-items: flex-start;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        background-color: white;
        color: black;
        
    }

    img{
        height: 2rem;
        width: 8rem;

    }
    button{
        background-color: rgba(12, 84, 167, 0.844);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        color: white;
    }
    
}
.home-header{
    background: url(./images/banner.jpg) no-repeat center/cover;
    height: 100vh;
    color: white;

    a{
        color: black;
        text-decoration: none;
        background-color: white;
        padding: 10px 20px;
        border-radius: 5px;
        width: 40%;
        height: 50px;
        text-align: center;
    }
    .inner-header{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 40%;
        padding: 40px 0px 0px 40px;

        h1{
            font-size: 40px;

        }
        p{
            font-size: 20px;
        }
    }
}